<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Record</title>
</head>
<body>
    {% render "navbar.liquid" %}
    <h1>New Officer Docket Record</h1>
    <form action="/docket/officer/new/" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title"> <br> <br>
        <label for="body">Body:</label> <br>
        <textarea name="body" id="body" cols="40" rows="10"></textarea> <br>
        {% if doc_admin %}
            <input type="checkbox" name="isVote" id="isVote"> <label for="isVote">Is Voteable?</label> <br>
        {% endif %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>