<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Permissions Exception</title>
</head>
<body>
    {% render "navbar.liquid" %}
    <h1>Invalid Permissions</h1>
    <h2>Your account does not have permissions to access this page.</h2>
    <h3>If you believe you should be able to access this page, please contact your application administrators.</h3>
</body>
</html>