<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{system_name}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/themes/{{theme}}.css">   
    <link rel="stylesheet" href="/static/themes/theme_structure.css">   
     
   <script>
    function reloadUser() {
      fetch("/user/reload/")
      location.reload(true)
    }
   </script>

</head>
<body>
    <body>

    <div class="navbar">
      <a href="/">Home</a>
      {% if inv_view or inv_edit or inv_admin  %}

      <div class="dropdown">

          
        
        <button class="dropbtn">Finances
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {% if inv_view or inv_admin %}
            <a href="/finances/">View Records</a>
            
          {% endif %}
          {% if inv_edit or inv_admin  %}
            <a href="/finances/new/">New Record</a>
          {% endif %}
          {% if approve_invoices or inv_admin %}
            <a href="/finances/pending/">View Pending Invoices</a>
          {% endif %}
        </div>
      </div>

    {% endif %}
    {% if doc_view or doc_edit or doc_admin %}
      <div class="dropdown">
        <button class="dropbtn">Docket
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {% if doc_view or doc_admin %}
            <a href="/docket/officer/view/">View Records</a>
            
          {% endif %}
          {% if doc_edit or doc_admin %}
          <a href="/docket/officer/new/">New Record</a>
          <a href="/docket/officer/assigned/">View Assigned</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
      
      <a href="https://engage.bridgew.edu/">EngageBSU</a>
      <a href="/about/">About</a>
      {% if user_admin %}
        
      
      <div class="dropdown">
        <button class="dropbtn">Admin
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/admin/finance/status/">Finance Statuses</a>
          <a href="/admin/docket/status/">Docket Statuses</a>
          <a href="/admin/record/">Record Types</a>
          <a href="/admin/users/">Users</a>
        </div>
      </div>
    {% endif %}
      <div class="dropdown">
        <button class="dropbtn">User
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          {% if isLoggedIn %}
            <a>{{full_name}}</a>
            <a href="/auth/logout/">Logout</a>
            <a href="/user/settings/">Settings</a>
          {% else %}
            <a href="/auth/login/">Log In</a>
          {% endif %}
        </div>
      </div>
    </div>
</body>
</body>
</html>
