<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 -- Internal Server Error</title>
</head>
<body>
    {% render "navbar.liquid" %}
    <h4>500 -- Did we do that?</h4>
    <p>Uh oh! You've encountered a dreaded 500 - Internal Server Error...</p>
    <p>Don't worry, this isn't your fault (Hopefully). This is the system's fault.</p>
    <p>Please fill out a bug report describing what you were trying to do, and we will look into it.</p>
</body>
</html>