<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Malformed User</title>
</head>
<body>
    {% render "navbar.liquid" %}

    <h3>Well... This is awkward...</h3>
    <p>Your user account information could not be loaded properly.</p>
    <p>This happens when your account could be found, but your permissions could not.</p>
    <p>Please contact your Application Administrators to get this issue sorted out.</p>
</body>
</html>