<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - Bad Request</title>
</head>
<body>
    {% render "navbar.liquid" %}
    <h3>What have you done?!?</h3>
    <p>A 'Malformed Request Exception' was raised by our system.</p>
    <p>Whatever you <i>were</i> doing, please stop...</p>
    <p>If you continue to reach this page, please contact your Application Administrators.</p>
    <br>
    <p>If you were trying to reset your password, password reset links are only valid for 24 hours.</p>
</body>
</html>