<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Permissions Exception</title>
</head>
<body>
    {% render "navbar.liquid" %}
    <h1>Docket not in voting status</h1>
    <h2>This item is not accepting docket votes at this time.</h2>
    <h3>Please try again later.</h3>
</body>
</html>