<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script>

        function checkPass(){
            var new_password = document.getElementById("new_password").value;
            var confirm_password = document.getElementById("confirm_password").value;
            if(new_password != confirm_password){
                alert("New Password and Confirm Password do not match.");
                return false;
            }

            // Check if the password contains:
            // At least one uppercase letter
            // At least one lowercase letter
            // At least one number
            // At least one special character
            var password = new_password;
            var upperCaseLetters = /[A-Z]/g;
            var lowerCaseLetters = /[a-z]/g;
            var numbers = /[0-9]/g;
            var specialCharacters = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/g;
            if(!password.match(upperCaseLetters)){
                alert("Password must contain at least one uppercase letter.");
                return false;
            }
            if(!password.match(lowerCaseLetters)){
                alert("Password must contain at least one lowercase letter.");
                return false;
            }
            if(!password.match(numbers)){
                alert("Password must contain at least one number.");
                return false;
            }
            if(!password.match(specialCharacters)){
                alert("Password must contain at least one special character.");
                return false;
            }

            if(password.length < 8){
                alert("Password must be at least 8 characters long.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <h1>Password Reset</h1>
    {% render "navbar.liquid" %}
    <form onsubmit="return checkPass()" action="/reset_password/{{token}}" method="POST">
        <label for="password">New Password</label>
        <input type="password" name="password" placeholder="New Password"> <br>
        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>