<nav>
        <h2>Documentation</h2>
        <ul>
            <li>Home</li>
            <li>Setup</li>
            <ul>
                <li>Quickstart Guide</li>
                <li>Python Setup</li>
                <li>Database Setup</li>
            </ul>
            <li>System Administration</li>
            <ul>
                <li>Finances</li>
                <ul>
                    <li>Statuses</li>
                    <li>Record Types</li>
                    <li>Creation and Approving</li>
                    <li>Updating</li>
                    <li>Exporting</li>
                </ul>
                <li>Docket</li>
                <ul>
                    <li>Statuses</li>
                    <li>Assignees</li>
                    <li>Privileges</li>
                    <li>Attachments</li>
                    <li>Quorum</li>
                </ul>
                <li>Users</li>
                <ul>
                    <li>Permissions</li>
                    <li>Passwords</li>
                    <li>Finance Pin</li>
                </ul>
            </ul>
            <li>About</li>
            <ul>
                <li>Purpose</li>
                <li>Support</li>
                <li>Issues</li>
            </ul>

        </ul>
    </nav>