
html{
    background-color: var(--back-color);
    color: var(--fore-color);
}

.navbar{
    background-color: var(--back-color);
}

.navbar a{
color:  var(--fore-color);

}

table, td, th{
    border: 1px solid var(--fore-color); 
}

.dropdown .dropbtn{
    color: var(--fore-color);
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--fore-color);
    color: var(--back-color);
}

.dropdown-content { 
    background-color: var(--fore-color);
}

.dropdown-content a {
    color: var(--back-color);
    background-color: var(--fore-color);
}

.dropdown-content button {
    color: var(--back-color);
    background-color: var(--fore-color);
    width: 100%;
    height: 4dvh;
    border: none;
    font-family: blockFont;
    font-size: 1rem;
}

.nav {
    color: var(--fore-color);
    background-color: var(--back-color);
}

.nav:hover {
    background-color: var(--fore-color);
    color: var(--back-color);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--back-color);
    color: var(--fore-color);
}

.dropdown-content button:hover {
    background-color: var(--back-color);
    color: var(--fore-color);

}

a.navsub{
    color: var(--fore-color);
    background-color: var(--back-color);
}

.nav:hover>*{
    background-color: var(--fore-color);
    color: var(--back-color);
}

.email{
    color: var(--fore-color);
}

.tab {
    overflow: hidden;
    color: var(--fore-color)
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: var(--back-color);
    background-color: var(--fore-color);
}
/* Create an active/current tablink class */
.tab button.active {
    color: var(--back-color);
    background-color: var(--fore-color);
}

.tab button {
    color: var(--fore-color);
    background-color: var(--back-color);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background: #1d1d1d;
}

fieldset{
	border: 1px solid var(--fore-color);
}
input[type=text], input[type=password], input[type=number], input[type=email], input[type=submit]{
	background-color: var(--back-color);
	color: var(--fore-color);
	border-radius: 0px;
	border: .5px solid var(--fore-color);
}

input[type=submit]:hover{
	background-color: var(--fore-color);
	color: var(--back-color);
}

input[type=checkbox]{
	accent-color: var(--fore-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
